/* Global styling */
body {
    background-color: rgb(24, 32, 41);
    color: white;
    font-family: 'Oxygen Mono', monospace;
    font-size: 15px;
    line-height: 1.5;
    min-height: 100%;
    padding-bottom: 6rem;
}

.highlight {
    color: rgb(0, 255, 106);
}

.title {
    text-decoration: underline yellow solid;
}

#overview ul {
    text-align: justify;
    text-justify: inter-word;
    font-size: 17px;
}

#overview ul li {
    margin-bottom: 10pt;
}

/* NAV BAR */

nav .container {
    position: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


/* header link */

header a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Oxygen Mono', monospace;
}

header a:visited {
    color: white;
}

header a:hover {
    color: rgb(164, 226, 255);
}

header a:active {
    color: rgb(243, 87, 87);
}

nav ul {
    list-style-type: none;
    font-size: 15px;
    font-family: 'Oxygen Mono', monospace;
}

nav li {
    margin: 20px;
    padding: 12px;
    display: inline;
    border-style: solid;
    border-width: 1px;
    color: white;
}

nav {
    margin: 3%;
}

#current {
    color:rgb(255, 116, 116);
}

header {
    padding: 0px;
    margin-left: 25%;
    margin-right: 25%;
    position: center;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
}

/* Site banner */

#banner {
    padding: 3% 0 3% 0;
    background: url(../img/banner.png);
    border-bottom: solid 2px red;
}

#banner .container{
    background: grey;
    margin: 3%;
    margin-left: 70%;
    padding: 3% 3% 3% 0;
    text-align: right;
}

/* newsletter */

#newsletter .container{
    padding: 15px;
    margin-left: 70%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 100px;
    background: lightseagreen;
}

/* overview */
#overview {
    margin: 0 10%;
    margin-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

/* navigator */
.navigation a{
    color: white;
    margin-left: 75%;
    margin-right: auto;
}

/* footer */

footer {
        padding: 6rem;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #222222;
        text-align: center;
        margin-top: 100px;
}
