/* Global styling */
body {
    background-color: rgb(46, 0, 88);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.highlight {
    color: rgb(0, 255, 106);
}

/* NAV BAR */

nav .container {
    position: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


/* header link */

header a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    color: rgb(164, 226, 255);
}

header a:active {
    color: rgb(243, 87, 87);
}

nav ul {
    list-style-type: none;
    font-size: 15px;
}

nav li {
    margin: 20px;
    padding: 12px;
    display: inline;
    border-style: solid;
    border-width: 1px;
    color: white;
}

nav {
    margin: 3%;
}

#current {
    color:rgb(255, 116, 116);
}

header {
    padding: 0px;
    margin-left: 25%;
    margin-right: 25%;
    position: center;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
}

/* Site banner */

#banner {
    padding: 3% 0 3% 0;
    background: url(../img/banner.png);
    border-bottom: solid 2px red;
}

#banner .container{
    background: grey;
    margin: 3%;
    margin-left: 70%;
    padding: 3% 3% 3% 0;
    text-align: right;
}

/* newsletter */

#newsletter .container{
    padding: 15px;
    margin-left: 70%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 100px;
    background: lightseagreen;
}

